<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    {{!-- <h1>This is about page...</h1> --}}

    {{>header}}

    {{!-- <h1>{{title}}</h1> --}}
    <img class="portrait" src="/img/pic1_node.png" alt="image">
    {{!-- <p>Created by {{name}}</p> --}}

    {{>footer}}
    </div>
</body>
</html>

{{!-- 'about.html' is replaced by 'about.hbs' as above --}}
{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>This is about page...</h1>
    <img src="/img/pic1_node.png" alt="image">
</body>
</html> --}}